@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('https://images5.alphacoders.com/115/1159855.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}
.context-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Style for the content area */
#content {
  height: 100vh;
}
